import { RequestOptions } from '@angular/http';

export class ApiConfiguration {
  public static rootUrl: string = "{{{rootUrl}}}";{{#generalErrorHandler}}
  public static handleError: (error: any) => void = (error) => alert(error);{{/generalErrorHandler}}
  public static prepareRequestOptions: (options: RequestOptions) => void = (req) => {};
}
