import { NgModule } from '@angular/core';
import { HttpClientModule } from '@angular/common/http';
import { ModuleWithProviders } from '@angular/compiler/src/core';
import { ApiConfiguration } from './api-configuration';


{{#services}}import { {{serviceClass}} } from './services/{{serviceFile}}';
{{/services}}

/**
 * Module that provides instances for all API services
 */
@NgModule({
  imports: [
    HttpClientModule
  ],
  exports: [
    HttpClientModule
  ],
  declarations: [],
  providers: [
{{#services}}   {{serviceClass}}{{^serviceIsLast}},{{/serviceIsLast}}
{{/services}}
  ],
})
export class ApiModule {
    public static forRoot(apiConfiguration: ApiConfiguration): ModuleWithProviders {
    return {
      ngModule: ApiModule,
      providers: [ { provide: ApiConfiguration, useValue: apiConfiguration }]
    }
  }
}