import { NgModule } from '@angular/core';

{{#services}}import { {{serviceClass}} } from './services/{{serviceFile}}';
{{/services}}

@NgModule({
  imports: [],
  exports: [],
  declarations: [],
  providers: [
{{#services}}   {{serviceClass}}{{^serviceIsLast}},{{/serviceIsLast}}
{{/services}}
  ],
})
export class ApiModule { }
