{{{modelComments}}}export type {{modelClass}} = {{#modelEnumValues}}
  "{{enumValue}}"{{^enumIsLast}} |{{/enumIsLast}}{{/modelEnumValues}};

export module {{modelClass}} {
{{#modelEnumValues}}  export const {{enumName}}: {{modelClass}} = "{{enumValue}}";
{{/modelEnumValues}}
  export function values(): {{modelClass}}[] {
    return [
{{#modelEnumValues}}      {{enumName}}{{^enumIsLast}}, {{/enumIsLast}}
{{/modelEnumValues}}
    ];
  }
}
