import { {{modelClass}} } from './{{modelFile}}';

/**
 * Returns example data for `{{modelClass}}`.
 */
export function get{{modelClass}}Example(): {{modelClass}} {
  return {{{modelExampleStr}}};
}
