/* tslint:disable */
{{#modelDependencies}}import { {{modelClass}} } from './{{modelFile}}';
{{/modelDependencies}}
{{#modelIsObject}}{{>object}}{{/modelIsObject
}}{{#modelIsEnum}}{{>enum}}{{/modelIsEnum
}}{{#modelIsArray}}{{>array}}{{/modelIsArray
}}{{#modelIsSimple}}{{>simple}}{{/modelIsSimple
}}
