{{{modelComments}}}
export class {{modelClass}} {{#modelParent}}extends {{modelName}} {{/modelParent}}{
  {{#modelProperties}}
    {{propertyName}}{{^propertyRequired}}?{{/propertyRequired}}: {{propertyType}};
  {{/modelProperties}}
}
