{{{modelComments}}}export interface {{modelClass}} {{#modelParent}}extends {{modelName}} {{/modelParent}}{
{{#modelProperties}}
{{{propertyComments}}}{{propertyName}}{{^propertyRequired}}?{{/propertyRequired}}: {{{propertyType}}};
{{/modelProperties}}
}
