{{{operationComments}}}{{operationName}}Response({{#operationParamsClass
  }}params: {{serviceClass}}.{{operationParamsClass}}{{/operationParamsClass}}{{^operationParamsClass
  }}{{#operationParameters}}{{paramVar}}{{^paramRequired}}?{{/paramRequired}}: {{{paramType
  }}}{{^paramIsLast}},
    {{/paramIsLast}}{{/operationParameters}}{{/operationParamsClass
    }}): Observable<DataHttpResponse<{{{operationResultType}}}>> {
    let __params = this.newParams();
    let __headers = new HttpHeaders();
    let __body: any = null;{{#operationIsMultipart}}
    __headers.append('Content-Type', 'multipart/form-data');
    let __formData = new FormData();
    __body = __formData;{{/operationIsMultipart}}
{{#operationParameters}}{{>parameter}}
{{/operationParameters}}
    let req = new HttpRequest<any>(
      '{{operationMethod}}',
      this.rootUrl + `{{{operationPathExpression}}}`,
      __body,
      {
        headers: __headers,
        params: __params,
        responseType: '{{{operationResponseType}}}'
      });
    {{^needsParsing}}
    return this.http.request<any>(req).pipe(
      filter(_r => _r instanceof HttpResponse)) as Observable<DataHttpResponse<{{{operationResultType}}}>>;{{/needsParsing}}
    {{#needsParsing}}
    return this.http.request<any>(req).pipe(
      filter(_r => _r instanceof HttpResponse),
      map(_r => {
        let _resp = _r as HttpResponse<any>;
        const _body: {{{operationResultType}}} = {{#operationIsString}} _resp.body as string;{{/operationIsString
        }}{{#operationIsNumber}}parseFloat(_resp.body as string);{{/operationIsNumber
        }}{{#operationIsBoolean}}_resp.body == 'true';{{/operationIsBoolean
        }}{{#operationIsEnum}}_resp.body as {{{operationResultType}}};{{/operationIsEnum
        }}{{#operationIsObject}}_resp.body as {{{operationResultType}}};{{/operationIsObject
        }}{{#operationIsFile}}_resp.body as Blob;{{/operationIsFile
        }}{{#operationIsPrimitiveArray}}_resp.body as {{{operationResultType}}};{{/operationIsPrimitiveArray
        }}{{#operationIsUnknown}}_resp.body as {{{operationResultType}}};{{/operationIsUnknown
        }}{{#operationIsVoid}}null;{{/operationIsVoid
        }}
        return _resp.clone({body: _body}) as DataHttpResponse<{{{operationResultType}}}>;
      })
    );
    {{/needsParsing}}
  }
