    {{#paramIsQuery}}{{#paramIsArray}}(params.{{paramName}} || []).forEach((val, index) => options.search.append("{{paramName}}", val == null ? "" : val.toString()));{{/paramIsArray
}}{{^paramIsArray}}options.search.set("{{paramName}}", params.{{paramName}} == null ? "" : params.{{paramName}}.toString());{{/paramIsArray}}{{/paramIsQuery
}}{{#paramIsHeader}}{{#paramIsArray}}(params.{{paramName}} || []).forEach((val, index) => options.headers.append("{{paramName}}", val == null ? "" : val.toString()));{{/paramIsArray
}}{{^paramIsArray}}options.headers.set("{{paramName}}", params.{{paramName}} == null ? "" : params.{{paramName}}.toString());{{/paramIsArray}}{{/paramIsHeader
}}{{#paramIsBody}}options.body = params.{{paramName}};{{/paramIsBody}}
